{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="entry-list">
        {% if current_user.is_authenticated %}
            {% for post in posts %}
            <article>
                <h2><a href="{{ url_for('view_post', id=post[0].id) }}">{{ post[0].title }}</a></h2>
                <time datetime="{{ post[0].date.strftime('%d/%m/%Y') }}">
                    {{ post[0].date.strftime('%d/%m/%Y') }}
                </time>
                {% for tag in post[1] %}
                <a class="button tag" href="{{ url_for('posts_by_tag', tag=tag.tag) }}">
                    <span>{{ tag.tag }}</span></a>
                {% endfor %}
            </article>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

